<body>
    <mat-dialog-content>
        <mat-card> 
            <div style="text-align:center;">
                <mat-card-title>Modificar usuario</mat-card-title>
            </div>  
            <ng-container>
                <form [formGroup]="form">
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Cedula" formControlName="cedula">
                    </mat-form-field>
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Nombres" formControlName="nombres">
                    </mat-form-field>
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Apellidos" formControlName="apellidos">
                    </mat-form-field>
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Direccion" formControlName="direccion">
                    </mat-form-field>
                    <mat-form-field class="campos-field">
                        <input matInput placeholder="Edad" formControlName="edad">
                    </mat-form-field>
                    <!--Botón para realizar los cambios con la función submit de modificar.component.ts-->
                    <button type="submit" mat-raised-button color="accent" (click)="submit(form)">Modificar</button>
                    <button type="button" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
                </form>
            </ng-container>
        </mat-card> 
    </mat-dialog-content>
</body>