<h2>Iniciar sesión</h2>
<mat-dialog-content>
  <div *ngIf="alert" class="alert alert-danger alert-dismissible" role="alert" data-auto-dismiss>
    <strong>Acceso incorrecto!</strong> Verificar el usuario y/o la contraseña.
  </div>   
    <form [formGroup]="session" (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre de usuario</mat-label>
        <input title="usermane" matInput formControlName="username">
        <mat-hint *ngIf="session.controls['username'].invalid">Usuario requerido.</mat-hint>
      </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input title="password" type="password" matInput formControlName="password">
          <mat-hint *ngIf="session.controls['password'].invalid">Contraseña requerida.</mat-hint>
        </mat-form-field>
        <mat-dialog-actions align="end">
          <button type="submit" mat-raised-button [disabled] = "!session.valid" [mat-dialog-close]="session.get('username')?.value">Conectar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>